.main-chat
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        group
      %ul.main-header__left-box__member-list
        Member :
        %li.main-header__left-box__member-list__member
          name
        %li.main-header__left-box__member-list__member
          a
    =link_to "#", class: "edit-btn" do
      Edit
  .main-chat__message-list
    .message
      .message__info
        %p.message__info__talker
          name
        %p.message__info__timestamp
          2020/01/01(Wed) 00:00:01
      %p.message__text
        あけおめ！
    .message
      .message__info
        %p.message__info__talker
          name
        %p.message__info__timestamp
          2020/01/01(Wed) 00:00:01
      %p.message__text
        あけおめ！
    .message
      .message__info
        %p.message__info__talker
          name
        %p.message__info__timestamp
          2020/01/01(Wed) 00:00:01
      %p.message__text
        あけおめ！
    .message
      .message__info
        %p.message__info__talker
          name
        %p.message__info__timestamp
          2020/01/01(Wed) 00:00:01
      %p.message__text
        あけおめ！
    .message
      .message__info
        %p.message__info__talker
          name
        %p.message__info__timestamp
          2020/01/01(Wed) 00:00:01
      %p.message__text
        あけおめ！
    .message
      .message__info
        %p.message__info__talker
          name
        %p.message__info__timestamp
          2020/01/01(Wed) 00:00:01
      %p.message__text
        あけおめ！
  .main-chat__message-form
    %form.new-message
      .input-box
        = form_for [@group, @message] do |f|
          = f.text_field :body, class: 'input-box__text', placeholder: 'type a message'
          .input-box__image
            = f.label :image, class: 'input-box__image__file' do
              = icon('fa', 'image')
              = f.file_field :image
            = f.submit 'Send', class: 'submit-btn'


      -#   = form_for [@group, @message] do |f|
      -#     = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      -#     .form__mask
      -#       = f.label :image, class: 'form__mask__image' do
      -#         = icon('fas', 'image', class: 'icon')
      -#         = f.file_field :image, class: 'hidden'
      -#     = f.submit 'Send', class: 'form__submit'

      -#   %input.input-box__text{:placeholder => "type a message", :type => "text"}
      -#   %label.input-box__image
      -#     = icon('fa', 'image')
      -#     %input.input-box__image__file(type="file")
      -# %input.submit-btn{:type => "submit", :value => "Send"}